{% extends "base.html" %}
{% block content %}
    <br><br><br><br><br>
    <h2>{{error}}</h2>
    {{post.render() | safe}}
    <br>
    <p>{{ likes }}&nbsp;likes</p>
    {% if post.username != username %}
        <form method="post">
        {% if username not in post.liked_by %}
            <input type="submit" name="like" value="Like">
        {% else %}
            <input type="submit" name="unlike" value="Unlike">
        {% endif %}
        </form>
        <p align="right">by&nbsp;{{post.username}}</p>
    {% else %}
        <p align="right"><a href="/blog/myposts/edit/{{ post.key().id() }}">Edit</a>
        <a href="/blog/myposts/delete/{{ post.key().id() }}">Delete</a></p>
    {% endif %}
    <form method="post">
        <label>
            <textarea name="comment" required></textarea>
        </label>
        <div class="error">{{error1}}</div>
        <input type="submit" name="addComment" value="Comment">
    </form>
    <h2>Comments on this blog:</h2>
    {% for c in comments %}
        <hr>
        {{ c.render() | safe }}
        {% if c.username == username %}
            <p align="right">
            <a href="/blog/{{ post.key().id() }}/editcomment/{{ c.key().id() }}">Edit</a> |
            <a href="/blog/{{ post.key().id() }}/deletecomment/{{ c.key().id() }}">Delete</a>
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}