{% extends "base.html" %}
{% block content %}
    <br><br><br><br><br>
    <h2>{{error}}</h2>
    {{post.render() | safe}}
    <br>
    <p>{{ likes }}&nbsp;likes</p>
    {% if post.username != username %}
        {% if status == "unliked" %}
            <a href="/blog/{{ post.key().id() }}">Like</a>
        {% elif status == "liked" %}
            <a href="/blog/{{ post.key().id() }}">Unlike</a>
        {% endif %}
        <p align="right">by&nbsp;{{post.username}}</p>
        <form method="post">
            <label>
                <textarea name="comment" required></textarea>
            </label>
            <div class="error">{{error1}}</div>
            <input type="submit" value="Comment">
        </form>
    {% else %}
        <p align="right"><a href="/blog/myposts/edit/{{ post.key().id() }}">Edit</a>
        <a href="/blog/myposts/delete/{{ post.key().id() }}">Delete</a></p>
    {% endif %}
    <h2>Comments on this blog:</h2>
    {% for c in comments %}
        {{ c.render() | safe }}
        <br><br>
    {% endfor %}
{% endblock %}